name: '{{ buildbot_slave_name }}'
password: '{{ generated_slave_password }}'
shell: '{{ buildbot_slave_shell }}'
setupDir: '{{ buildbot_slave_prepare_dir }}'
platform: '{{ buildbot_slave_platform }}'
setups: {{ buildbot_slave_setups }}
