# -*- python -*-
# ex: set syntax=python:
# {{ ansible_managed }}

import sys
import importlib
from buildbot.plugins import *
sys.path.append('inplace')
from buildbot_inplace import InplaceConfig
import buildbot_inplace

importlib.reload(buildbot_inplace)

c = BuildmasterConfig = InplaceConfig()
c['protocols'] = {'pb': dict(port={{ buildbot_master_worker_port }})}

# loading workers makes it easier to extend
c.load_workers('{{ buildbot_master_workers_dir }}')

# loading projects
c.load_projects('{{ buildbot_master_projects_dir }}')


mail_formatter = reporters.MessageFormatter(
	template_dir='{{ buildbot_master_email_template_dir }}',
	template_filename='{{ buildbot_master_email_body_template_file }}',
	subject_filename='{{ buildbot_master_email_subject_template_file}}')
mail_notifier = reporters.MailNotifier(
	fromaddr='{{ buildbot_master_email_notification_from }}',
	relayhost='{{ buildbot_master_email_notification_relayhost}}',
	smtpPort='{{ buildbot_master_email_notification_smtp_port }}',
	smtpUser='{{ buildbot_master_email_notification_smtp_user }}',
	smtpPassword='{{ buildbot_master_email_notification_smtp_password }}',
	mode='{{ buildbot_master_email_notification_mode }}',
	subject="%(builder)s",
	addLogs='{{ buildbot_master_email_notification_add_logs }}',
	useSmtps='{{ buildbot_master_email_notification_use_smtps }}')
c['services'] = [mail_notifier]

c['buildbotNetUsageData'] = None

c['title'] = "{{ buildbot_master_title }}"
c['titleURL'] = "{{ buildbot_master_title_url }}"

c['buildbotURL'] = "{{ buildbot_master_url }}"

c['www'] = {
	'port': {{ buildbot_master_www_port }},
	'plugins': {
		    'waterfall_view' : True,
		    'console_view': True
	           }
}
c.load_users('{{ buildbot_master_users_dir }}')

c['db'] = {'db_url': "sqlite:///state.sqlite"}

# add change_source, schedulers and builders for all projects and workers
c.setup_inplace()
