---
- name: reconfigure buildbot master
  service:
    name: buildbot
    state: reloaded
  become: yes
  delegate_to: '{{ buildbot_master_host }}'

- name: restart buildbot worker
  set_fact:
    buildbot_worker_restart: true
