name: '{{ project.name }}'
repoType: '{{ project.repo_type | default("git") }}'
repoUrl: '{{ project.repo_url }}'
repoBranch: '{{ project.repo_branch | default("") }}'
repoUser: '{{ project.repo_user | default("") }}'
repoPassword: '{{ project.repo_password | default("") }}'
repoMode: '{{ project.repo_mode | default("incremental") }}'
repoCredentials:
{%- for credential in project.repo_credentials %}    
  - url: '{{ credential.url }}'
    user: '{{ credential.user }}'
    password: '{{ credential.password }}'
{%- endfor %}

{%- if "redmine_credentials" in project %}

redmineUser: '{{ project.redmine_credentials.user }}'
redminePassword: '{{ project.redmine_credentials.password }}'
redmineUrl: '{{ project.redmine_credentials.url }}'
{%- endif %}

githubToken: '{{ project.github_token | default("") }}'
