name: '{{ buildbot_slave_name }}'
password: '{{ buildbot_slave_password }}'
shell: '{{ buildbot_slave_shell }}'
setupDir: '{{ buildbot_slave_setup_dir }}'
platform: '{{ buildbot_slave_platform }}'
setups: {{ buildbot_slave_setups }}