name: '{{ buildbot_slave_name }}'
password: '{{ buildbot_slave_password }}'
shell: '{{ buildbot_slave_shell }}'
setupDir: '{{ buildbot_setup_dir }}'
platform: '{{ buildbot_platform }}''
setups: {{ buildbot_setups }}