---
- name: Install dependencies
  pip:
    name: 'pyYAML'

- name: Git checkout
  git:
    repo: "{{ buildbot_master_inplace_repo }}"
    version: "{{ buildbot_master_inplace_version }}"
    dest: '{{ buildbot_master_inplace_dest }}'
    force: yes
  become: yes
  become_user: '{{ buildbot_master_user }}'
  tags: [git]

- name: Folders
  file:
    dest: '{{ buildbot_master_basedir }}/{{ item }}'
    state: directory
    owner: '{{ buildbot_master_user }}'
    group: '{{ buildbot_master_user }}'
  with_items:
  - '{{ buildbot_master_workers_dir }}'
  - '{{ buildbot_master_projects_dir }}'
  - '{{ buildbot_master_products_dir }}'

- name: Default Configuration
  template:
    src: 'master.cfg.j2'
    dest: "{{ buildbot_master_basedir }}/master.cfg"
    owner: '{{ buildbot_master_user }}'
    group: '{{ buildbot_master_user }}'
  notify:
  - reconfigure buildbot master

- name: store facts
  set_fact:
    buildbot_master_workers_dir: '{{ buildbot_master_workers_dir }}'
    buildbot_master_projects_dir: '{{ buildbot_master_projects_dir }}'
    buildbot_master_workers_path: '{{ buildbot_master_workers_path }}'
    buildbot_master_projects_path: '{{ buildbot_master_projects_path }}'
    buildbot_master_worker_port: '{{ buildbot_master_worker_port }}'
  tags: [always]
